.idea/              # Ignore IntelliJ project files
.DS_Store           # Windows system dir
**/*.pyc            # we don't want compiled python.
COMMIT_EDITMSG.swp
node_modules        # Ignore Node stuff
bower_components    # Ignore Bower stuff